@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
	font-family: 'Fjalla One', sans-serif;
	background-image: url('https://www.wallpapertip.com/wmimgs/81-813727_420248-title-video-game-pokmon-wallpaper-pokemon-video.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
button {
	font-family: 'Fjalla One', sans-serif;
}
